jenkins.localhost:443 {
    tls internal

    reverse_proxy jenkins-controller:8080 {
        header_up Host {http.request.host}
        header_up X-Forwarded-Proto https
        header_up X-Forwarded-Host {http.request.host}
        header_up X-Forwarded-Port 8444
    }
}